<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">

  {{- partial "favicon.html" . -}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{ $style := print (default "original" .Site.Params.themeStyle) ".css" | resources.Get | minify }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">

  {{ if (.Page.Store.Get "hasCodeBlock") }}
    {{ $syntax := resources.Get "syntax.css" | minify }}
    <link href="{{ $syntax.RelPermalink }}" rel="stylesheet">
  {{ end }}

  {{ with .Params.style }}
    {{ $extra := resources.Get . | minify }}
    <link href="{{ $extra.RelPermalink }}" rel="stylesheet">
  {{ end }}

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- partial "custom_head.html" . -}}
</head>

<body>
  {{ with .Params.banner }}
  <div class="banner" style="background-image: url('{{ . }}');">
    <!-- Banner image only, no text here -->
  </div>
  {{ end }}

  <div class="container">
    {{- partial "header.html" . -}}
  </div>

  <main id="main-content">
    <h1>{{ .Title }}</h1>
    <div class="wp-block-themeisle-blocks-posts-grid">
      <div class="is-list o-crop-img">

        {{ range first 10 (where .Site.Pages "Type" "post") }}
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
          <div class="o-posts-grid-post">
            <div class="o-posts-grid-post-image">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
              </a>
            </div>
            <div class="o-posts-grid-post-body">
              <span class="o-posts-grid-post-category">
                {{ range .Params.categories }}
                <a href="/categories/{{ . | urlize }}">{{ . }}</a> 
                {{ end }}
              </span>
              <h5>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h5>
              <p>
                Posted on <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
              </p>
              <div class="o-posts-grid-post-description">
                {{ .Summary }}
                <a href="{{ .Permalink }}">Read More</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </main>

  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>

</html>
